<div class="lJh45t">
  <div class="cpj9Q+ _5-TPbG">
    <div class="p0zn2V _5-TPbG">
      <div class="_5HSwpe">
        <div class="_9-NqFo">
          <h2 class="_-wKMeW font-default-header-l-semibold mb-default-200x mb-laptop-300x">
            Reviews</h2>
        </div>
      </div>
      <div id="carousel-reviews" class="yglZWF NUsFZk" style="--item-width-large:calc((100% - (24px * 3)) / 4)"><button
          id="button-carousel-reviews-left" data-qa="carousel-reviews-left" type="button"
          class="bXwNAZ _XdYRL tPD9Wd _i2AGd p0rMsd _8oa6Jd _2qQPVd JKAKKd MUDOCF RzW22F YufAqF" tabindex="-1"
          aria-pressed="false" aria-labelledby="label-carousel-reviews-left" aria-live="polite"><span
            class="G9IyId va3CCd"><span id="label-carousel-reviews-left"
              class="_-wKMeW ZCvkwW font-default-body-m-semibold">Previous</span></span><span class="_0f0aId"><span
              class="_-6pA9j _8oa7Bj" aria-hidden="true"><svg fill="currentColor" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24">
                <path fill-rule="evenodd"
                  d="M11.03 4.72a.75.75 0 0 1 0 1.06l-5.47 5.47h14.69a.75.75 0 0 1 0 1.5H5.56l5.47 5.47a.75.75 0 1 1-1.06 1.06l-6.75-6.75a.75.75 0 0 1 0-1.06l6.75-6.75a.75.75 0 0 1 1.06 0Z"
                  clip-rule="evenodd"></path>
              </svg></span></span></button>
        <div class="DNTHBF wwAZIZ">
          <div class="Z2xMoI KIDfJF">
            <ul class="_5zCVQX gap-default-100 direction-default-horizontal display-default-inline-flex JlmNrs">
              <li class="p_e4TX"><span class="_-6pA9j I-8Cxj" aria-hidden="true"><svg fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path
                      d="m21.975 9.974-4.225 3.69 1.266 5.495a1.502 1.502 0 0 1-1.395 1.84 1.499 1.499 0 0 1-.839-.214l-4.788-2.907-4.778 2.907a1.499 1.499 0 0 1-2.234-1.626l1.264-5.489L2.02 9.974a1.5 1.5 0 0 1 .853-2.63l5.571-.484 2.175-5.19a1.495 1.495 0 0 1 2.758 0l2.18 5.19 5.57.483a1.498 1.498 0 0 1 1.318 1.899 1.5 1.5 0 0 1-.465.732h-.005Z">
                    </path>
                  </svg></span></li>
              <li class="p_e4TX"><span class="_-6pA9j I-8Cxj" aria-hidden="true"><svg fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path
                      d="m21.975 9.974-4.225 3.69 1.266 5.495a1.502 1.502 0 0 1-1.395 1.84 1.499 1.499 0 0 1-.839-.214l-4.788-2.907-4.778 2.907a1.499 1.499 0 0 1-2.234-1.626l1.264-5.489L2.02 9.974a1.5 1.5 0 0 1 .853-2.63l5.571-.484 2.175-5.19a1.495 1.495 0 0 1 2.758 0l2.18 5.19 5.57.483a1.498 1.498 0 0 1 1.318 1.899 1.5 1.5 0 0 1-.465.732h-.005Z">
                    </path>
                  </svg></span></li>
              <li class="p_e4TX"><span class="_-6pA9j I-8Cxj" aria-hidden="true"><svg fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path
                      d="m21.975 9.974-4.225 3.69 1.266 5.495a1.502 1.502 0 0 1-1.395 1.84 1.499 1.499 0 0 1-.839-.214l-4.788-2.907-4.778 2.907a1.499 1.499 0 0 1-2.234-1.626l1.264-5.489L2.02 9.974a1.5 1.5 0 0 1 .853-2.63l5.571-.484 2.175-5.19a1.495 1.495 0 0 1 2.758 0l2.18 5.19 5.57.483a1.498 1.498 0 0 1 1.318 1.899 1.5 1.5 0 0 1-.465.732h-.005Z">
                    </path>
                  </svg></span></li>
              <li class="p_e4TX"><span class="_-6pA9j I-8Cxj" aria-hidden="true"><svg fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path
                      d="m21.975 9.974-4.225 3.69 1.266 5.495a1.502 1.502 0 0 1-1.395 1.84 1.499 1.499 0 0 1-.839-.214l-4.788-2.907-4.778 2.907a1.499 1.499 0 0 1-2.234-1.626l1.264-5.489L2.02 9.974a1.5 1.5 0 0 1 .853-2.63l5.571-.484 2.175-5.19a1.495 1.495 0 0 1 2.758 0l2.18 5.19 5.57.483a1.498 1.498 0 0 1 1.318 1.899 1.5 1.5 0 0 1-.465.732h-.005Z">
                    </path>
                  </svg></span></li>
              <li class="p_e4TX"><span class="_-6pA9j I-8Cxj" aria-hidden="true"><svg fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path
                      d="m21.975 9.974-4.225 3.69 1.266 5.495a1.502 1.502 0 0 1-1.395 1.84 1.499 1.499 0 0 1-.839-.214l-4.788-2.907-4.778 2.907a1.499 1.499 0 0 1-2.234-1.626l1.264-5.489L2.02 9.974a1.5 1.5 0 0 1 .853-2.63l5.571-.484 2.175-5.19a1.495 1.495 0 0 1 2.758 0l2.18 5.19 5.57.483a1.498 1.498 0 0 1 1.318 1.899 1.5 1.5 0 0 1-.465.732h-.005Z">
                    </path>
                  </svg></span></li>
            </ul>
            <h3 class="_-wKMeW font-default-header-m-semibold mb-default-150x" style="color: aliceblue !important;">The best
              place to find a driving school</h3>
            <p class="_-wKMeW font-default-body-s-regular mb-default-300x KZncth">It was easy to find a place that meet
              my requirements with e-learners.
              Their platform is user-friendly and their network of schools is extensive. Great service.
            </p>
            <div class="vwrSwV">
              <picture class="rC5xC0 _-rOWN0 X4f3A0 Qs8lH0 LxNbvs">
                <source srcSet=" //www.fresha.com/assets/static/media/lucy@2x-df65c7d8267eabc81b315c3d43f5d78c.webp 2x,"
                  media="(min-width: 0px)" type="image/webp" />
                <source srcSet="//www.fresha.com/assets/static/media/lucy-9785ab5f66357879517443c6370e2aca.webp"
                  media="(min-width: 0px)" type="image/webp" />
                <source srcSet=" //www.fresha.com/assets/static/media/lucy@2x-efb1555769b49830016ce4404e94e1f6.jpg 2x,"
                  media="(min-width: 0px)" type="" />
                <source srcSet="//www.fresha.com/assets/static/media/lucy-dd851e4ecc40b9b59b624cdccc1aedb6.jpg"
                  media="(min-width: 0px)" type="" /><img
                  src="assets/static/media/lucy-dd851e4ecc40b9b59b624cdccc1aedb6.jpg" alt="Lucy"
                  class="N3bW30 _-rOWN0 X4f3A0 p0zs30 LxNbvs" loading="lazy" />
              </picture>
              <p class="_-wKMeW font-default-body-m-regular dcV-Yv">Naveen</p>
              <p class="_-wKMeW font-default-body-s-regular QbIs-T">Colombo, Sri Lanka</p>
            </div>
          </div>
          <div class="Z2xMoI KIDfJF">
            <ul class="_5zCVQX gap-default-100 direction-default-horizontal display-default-inline-flex JlmNrs">
              <li class="p_e4TX"><span class="_-6pA9j I-8Cxj" aria-hidden="true"><svg fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path
                      d="m21.975 9.974-4.225 3.69 1.266 5.495a1.502 1.502 0 0 1-1.395 1.84 1.499 1.499 0 0 1-.839-.214l-4.788-2.907-4.778 2.907a1.499 1.499 0 0 1-2.234-1.626l1.264-5.489L2.02 9.974a1.5 1.5 0 0 1 .853-2.63l5.571-.484 2.175-5.19a1.495 1.495 0 0 1 2.758 0l2.18 5.19 5.57.483a1.498 1.498 0 0 1 1.318 1.899 1.5 1.5 0 0 1-.465.732h-.005Z">
                    </path>
                  </svg></span></li>
              <li class="p_e4TX"><span class="_-6pA9j I-8Cxj" aria-hidden="true"><svg fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path
                      d="m21.975 9.974-4.225 3.69 1.266 5.495a1.502 1.502 0 0 1-1.395 1.84 1.499 1.499 0 0 1-.839-.214l-4.788-2.907-4.778 2.907a1.499 1.499 0 0 1-2.234-1.626l1.264-5.489L2.02 9.974a1.5 1.5 0 0 1 .853-2.63l5.571-.484 2.175-5.19a1.495 1.495 0 0 1 2.758 0l2.18 5.19 5.57.483a1.498 1.498 0 0 1 1.318 1.899 1.5 1.5 0 0 1-.465.732h-.005Z">
                    </path>
                  </svg></span></li>
              <li class="p_e4TX"><span class="_-6pA9j I-8Cxj" aria-hidden="true"><svg fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path
                      d="m21.975 9.974-4.225 3.69 1.266 5.495a1.502 1.502 0 0 1-1.395 1.84 1.499 1.499 0 0 1-.839-.214l-4.788-2.907-4.778 2.907a1.499 1.499 0 0 1-2.234-1.626l1.264-5.489L2.02 9.974a1.5 1.5 0 0 1 .853-2.63l5.571-.484 2.175-5.19a1.495 1.495 0 0 1 2.758 0l2.18 5.19 5.57.483a1.498 1.498 0 0 1 1.318 1.899 1.5 1.5 0 0 1-.465.732h-.005Z">
                    </path>
                  </svg></span></li>
              <li class="p_e4TX"><span class="_-6pA9j I-8Cxj" aria-hidden="true"><svg fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path
                      d="m21.975 9.974-4.225 3.69 1.266 5.495a1.502 1.502 0 0 1-1.395 1.84 1.499 1.499 0 0 1-.839-.214l-4.788-2.907-4.778 2.907a1.499 1.499 0 0 1-2.234-1.626l1.264-5.489L2.02 9.974a1.5 1.5 0 0 1 .853-2.63l5.571-.484 2.175-5.19a1.495 1.495 0 0 1 2.758 0l2.18 5.19 5.57.483a1.498 1.498 0 0 1 1.318 1.899 1.5 1.5 0 0 1-.465.732h-.005Z">
                    </path>
                  </svg></span></li>
              <li class="p_e4TX"><span class="_-6pA9j I-8Cxj" aria-hidden="true"><svg fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path
                      d="m21.975 9.974-4.225 3.69 1.266 5.495a1.502 1.502 0 0 1-1.395 1.84 1.499 1.499 0 0 1-.839-.214l-4.788-2.907-4.778 2.907a1.499 1.499 0 0 1-2.234-1.626l1.264-5.489L2.02 9.974a1.5 1.5 0 0 1 .853-2.63l5.571-.484 2.175-5.19a1.495 1.495 0 0 1 2.758 0l2.18 5.19 5.57.483a1.498 1.498 0 0 1 1.318 1.899 1.5 1.5 0 0 1-.465.732h-.005Z">
                    </path>
                  </svg></span></li>
            </ul>
            <h3 class="_-wKMeW font-default-header-m-semibold mb-default-150x">Exceptional Customer Service</h3>
            <p class="_-wKMeW font-default-body-s-regular mb-default-300x KZncth">
              I had a question about the driving schools recommended by E-Learners, so I reached out to their customer
              service team for assistance. I was pleasantly surprised by their responsiveness and professionalism. They
              went above and beyond
              to address my concerns and ensure that I had all the information I needed to make an informed decision.
              Thank you for the excellent service!</p>
            <div class="vwrSwV">
              <picture class="rC5xC0 _-rOWN0 X4f3A0 Qs8lH0 LxNbvs">
                <source srcSet=" //www.fresha.com/assets/static/media/dan@2x-56d20e3a21042f5ca11b6f6b59794d97.webp 2x,"
                  media="(min-width: 0px)" type="image/webp" />
                <source srcSet="//www.fresha.com/assets/static/media/dan-ac0527b8ab98046c4b671492204be60e.webp"
                  media="(min-width: 0px)" type="image/webp" />
                <source srcSet=" //www.fresha.com/assets/static/media/dan@2x-20f22cf3a45c18b3c3cf56bee677096b.jpg 2x,"
                  media="(min-width: 0px)" type="" />
                <source srcSet="//www.fresha.com/assets/static/media/dan-00479ded921d23b01f095cd7f8f555de.jpg"
                  media="(min-width: 0px)" type="" /><img
                  src="assets/static/media/dan-00479ded921d23b01f095cd7f8f555de.jpg" alt="Dan"
                  class="N3bW30 _-rOWN0 X4f3A0 p0zs30 LxNbvs" loading="lazy" />
              </picture>
              <p class="_-wKMeW font-default-body-m-regular dcV-Yv">Ranudi</p>
              <p class="_-wKMeW font-default-body-s-regular QbIs-T">Dehiwala, Sri Lanka</p>
            </div>
          </div>
          <div class="Z2xMoI KIDfJF">
            <ul class="_5zCVQX gap-default-100 direction-default-horizontal display-default-inline-flex JlmNrs">
              <li class="p_e4TX"><span class="_-6pA9j I-8Cxj" aria-hidden="true"><svg fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path
                      d="m21.975 9.974-4.225 3.69 1.266 5.495a1.502 1.502 0 0 1-1.395 1.84 1.499 1.499 0 0 1-.839-.214l-4.788-2.907-4.778 2.907a1.499 1.499 0 0 1-2.234-1.626l1.264-5.489L2.02 9.974a1.5 1.5 0 0 1 .853-2.63l5.571-.484 2.175-5.19a1.495 1.495 0 0 1 2.758 0l2.18 5.19 5.57.483a1.498 1.498 0 0 1 1.318 1.899 1.5 1.5 0 0 1-.465.732h-.005Z">
                    </path>
                  </svg></span></li>
              <li class="p_e4TX"><span class="_-6pA9j I-8Cxj" aria-hidden="true"><svg fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path
                      d="m21.975 9.974-4.225 3.69 1.266 5.495a1.502 1.502 0 0 1-1.395 1.84 1.499 1.499 0 0 1-.839-.214l-4.788-2.907-4.778 2.907a1.499 1.499 0 0 1-2.234-1.626l1.264-5.489L2.02 9.974a1.5 1.5 0 0 1 .853-2.63l5.571-.484 2.175-5.19a1.495 1.495 0 0 1 2.758 0l2.18 5.19 5.57.483a1.498 1.498 0 0 1 1.318 1.899 1.5 1.5 0 0 1-.465.732h-.005Z">
                    </path>
                  </svg></span></li>
              <li class="p_e4TX"><span class="_-6pA9j I-8Cxj" aria-hidden="true"><svg fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path
                      d="m21.975 9.974-4.225 3.69 1.266 5.495a1.502 1.502 0 0 1-1.395 1.84 1.499 1.499 0 0 1-.839-.214l-4.788-2.907-4.778 2.907a1.499 1.499 0 0 1-2.234-1.626l1.264-5.489L2.02 9.974a1.5 1.5 0 0 1 .853-2.63l5.571-.484 2.175-5.19a1.495 1.495 0 0 1 2.758 0l2.18 5.19 5.57.483a1.498 1.498 0 0 1 1.318 1.899 1.5 1.5 0 0 1-.465.732h-.005Z">
                    </path>
                  </svg></span></li>
              <li class="p_e4TX"><span class="_-6pA9j I-8Cxj" aria-hidden="true"><svg fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path
                      d="m21.975 9.974-4.225 3.69 1.266 5.495a1.502 1.502 0 0 1-1.395 1.84 1.499 1.499 0 0 1-.839-.214l-4.788-2.907-4.778 2.907a1.499 1.499 0 0 1-2.234-1.626l1.264-5.489L2.02 9.974a1.5 1.5 0 0 1 .853-2.63l5.571-.484 2.175-5.19a1.495 1.495 0 0 1 2.758 0l2.18 5.19 5.57.483a1.498 1.498 0 0 1 1.318 1.899 1.5 1.5 0 0 1-.465.732h-.005Z">
                    </path>
                  </svg></span></li>
              <li class="p_e4TX"><span class="_-6pA9j I-8Cxj" aria-hidden="true"><svg fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path
                      d="m21.975 9.974-4.225 3.69 1.266 5.495a1.502 1.502 0 0 1-1.395 1.84 1.499 1.499 0 0 1-.839-.214l-4.788-2.907-4.778 2.907a1.499 1.499 0 0 1-2.234-1.626l1.264-5.489L2.02 9.974a1.5 1.5 0 0 1 .853-2.63l5.571-.484 2.175-5.19a1.495 1.495 0 0 1 2.758 0l2.18 5.19 5.57.483a1.498 1.498 0 0 1 1.318 1.899 1.5 1.5 0 0 1-.465.732h-.005Z">
                    </path>
                  </svg></span></li>
            </ul>
            <h3 class="_-wKMeW font-default-header-m-semibold mb-default-150x">Efficient and Effective Service</h3>
            <p class="_-wKMeW font-default-body-s-regular mb-default-300x KZncth">
              I used E-Learners to find a driving school in my area, and I was impressed by how quickly and easily I was
              connected with a reputable school.
              The process was seamless, and within minutes, I had all the information I needed to make an informed
              decision. Thanks to E-Learners,
              I was able to find the perfect driving school for me.</p>
            <div class="vwrSwV">
              <picture class="rC5xC0 _-rOWN0 X4f3A0 Qs8lH0 LxNbvs">
                <source srcSet=" //www.fresha.com/assets/static/media/dale@2x-d5a9f0f5c21818e519754ee336da226a.webp 2x,"
                  media="(min-width: 0px)" type="image/webp" />
                <source srcSet="//www.fresha.com/assets/static/media/dale-cf23f03671945ec9d79032a88111ab79.webp"
                  media="(min-width: 0px)" type="image/webp" />
                <source srcSet=" //www.fresha.com/assets/static/media/dale@2x-c6bef3c7c8c03c7f87ed2b699cbed6b5.jpg 2x,"
                  media="(min-width: 0px)" type="" />
                <source srcSet="//www.fresha.com/assets/static/media/dale-39112b76309cec1529846b25390948a2.jpg"
                  media="(min-width: 0px)" type="" /><img
                  src="assets/static/media/dale-39112b76309cec1529846b25390948a2.jpg" alt="Dale"
                  class="N3bW30 _-rOWN0 X4f3A0 p0zs30 LxNbvs" loading="lazy" />
              </picture>
              <p class="_-wKMeW font-default-body-m-regular dcV-Yv">Sandesh</p>
              <p class="_-wKMeW font-default-body-s-regular QbIs-T">Kurunegala, Sri Lanka
              </p>
            </div>
          </div>
          <div class="Z2xMoI KIDfJF">
            <ul class="_5zCVQX gap-default-100 direction-default-horizontal display-default-inline-flex JlmNrs">
              <li class="p_e4TX"><span class="_-6pA9j I-8Cxj" aria-hidden="true"><svg fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path
                      d="m21.975 9.974-4.225 3.69 1.266 5.495a1.502 1.502 0 0 1-1.395 1.84 1.499 1.499 0 0 1-.839-.214l-4.788-2.907-4.778 2.907a1.499 1.499 0 0 1-2.234-1.626l1.264-5.489L2.02 9.974a1.5 1.5 0 0 1 .853-2.63l5.571-.484 2.175-5.19a1.495 1.495 0 0 1 2.758 0l2.18 5.19 5.57.483a1.498 1.498 0 0 1 1.318 1.899 1.5 1.5 0 0 1-.465.732h-.005Z">
                    </path>
                  </svg></span></li>
              <li class="p_e4TX"><span class="_-6pA9j I-8Cxj" aria-hidden="true"><svg fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path
                      d="m21.975 9.974-4.225 3.69 1.266 5.495a1.502 1.502 0 0 1-1.395 1.84 1.499 1.499 0 0 1-.839-.214l-4.788-2.907-4.778 2.907a1.499 1.499 0 0 1-2.234-1.626l1.264-5.489L2.02 9.974a1.5 1.5 0 0 1 .853-2.63l5.571-.484 2.175-5.19a1.495 1.495 0 0 1 2.758 0l2.18 5.19 5.57.483a1.498 1.498 0 0 1 1.318 1.899 1.5 1.5 0 0 1-.465.732h-.005Z">
                    </path>
                  </svg></span></li>
              <li class="p_e4TX"><span class="_-6pA9j I-8Cxj" aria-hidden="true"><svg fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path
                      d="m21.975 9.974-4.225 3.69 1.266 5.495a1.502 1.502 0 0 1-1.395 1.84 1.499 1.499 0 0 1-.839-.214l-4.788-2.907-4.778 2.907a1.499 1.499 0 0 1-2.234-1.626l1.264-5.489L2.02 9.974a1.5 1.5 0 0 1 .853-2.63l5.571-.484 2.175-5.19a1.495 1.495 0 0 1 2.758 0l2.18 5.19 5.57.483a1.498 1.498 0 0 1 1.318 1.899 1.5 1.5 0 0 1-.465.732h-.005Z">
                    </path>
                  </svg></span></li>
              <li class="p_e4TX"><span class="_-6pA9j I-8Cxj" aria-hidden="true"><svg fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path
                      d="m21.975 9.974-4.225 3.69 1.266 5.495a1.502 1.502 0 0 1-1.395 1.84 1.499 1.499 0 0 1-.839-.214l-4.788-2.907-4.778 2.907a1.499 1.499 0 0 1-2.234-1.626l1.264-5.489L2.02 9.974a1.5 1.5 0 0 1 .853-2.63l5.571-.484 2.175-5.19a1.495 1.495 0 0 1 2.758 0l2.18 5.19 5.57.483a1.498 1.498 0 0 1 1.318 1.899 1.5 1.5 0 0 1-.465.732h-.005Z">
                    </path>
                  </svg></span></li>
              <li class="p_e4TX"><span class="_-6pA9j I-8Cxj" aria-hidden="true"><svg fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path
                      d="m21.975 9.974-4.225 3.69 1.266 5.495a1.502 1.502 0 0 1-1.395 1.84 1.499 1.499 0 0 1-.839-.214l-4.788-2.907-4.778 2.907a1.499 1.499 0 0 1-2.234-1.626l1.264-5.489L2.02 9.974a1.5 1.5 0 0 1 .853-2.63l5.571-.484 2.175-5.19a1.495 1.495 0 0 1 2.758 0l2.18 5.19 5.57.483a1.498 1.498 0 0 1 1.318 1.899 1.5 1.5 0 0 1-.465.732h-.005Z">
                    </path>
                  </svg></span></li>
            </ul>
            <h3 class="_-wKMeW font-default-header-m-semibold mb-default-150x">Highly Recommend Service</h3>
            <p class="_-wKMeW font-default-body-s-regular mb-default-300x KZncth">I was dreading the process of finding
              a driving school for license renewal or getting a new license, but E-Learners made it incredibly easy.
              Their website
              is straightforward to navigate, and I was able to submit my requirements with ease. Thanks to E-Learners,
              I was able to find a reputable driving school without all the hassle.</p>
            <div class="vwrSwV">
              <picture class="rC5xC0 _-rOWN0 X4f3A0 Qs8lH0 LxNbvs">
                <source
                  srcSet=" //www.fresha.com/assets/static/media/cameron@2x-5bc7549d6347a5fb5ee50539c38defe3.webp 2x,"
                  media="(min-width: 0px)" type="image/webp" />
                <source srcSet="//www.fresha.com/assets/static/media/cameron-eae96a9888e7f30b4d58c0fa9ee15841.webp"
                  media="(min-width: 0px)" type="image/webp" />
                <source
                  srcSet=" //www.fresha.com/assets/static/media/cameron@2x-e1c78b857c961267c327a75f81f1280b.jpg 2x,"
                  media="(min-width: 0px)" type="" />
                <source srcSet="//www.fresha.com/assets/static/media/cameron-d9fbad8fc364103f7af06ed9c52d01dc.jpg"
                  media="(min-width: 0px)" type="" /><img
                  src="assets/static/media/cameron-d9fbad8fc364103f7af06ed9c52d01dc.jpg" alt="Cameron"
                  class="N3bW30 _-rOWN0 X4f3A0 p0zs30 LxNbvs" loading="lazy" />
              </picture>
              <p class="_-wKMeW font-default-body-m-regular dcV-Yv">Cameron</p>
              <p class="_-wKMeW font-default-body-s-regular QbIs-T">Edinburgh, UK</p>
            </div>
          </div>
          <div class="Z2xMoI KIDfJF">
            <ul class="_5zCVQX gap-default-100 direction-default-horizontal display-default-inline-flex JlmNrs">
              <li class="p_e4TX"><span class="_-6pA9j I-8Cxj" aria-hidden="true"><svg fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path
                      d="m21.975 9.974-4.225 3.69 1.266 5.495a1.502 1.502 0 0 1-1.395 1.84 1.499 1.499 0 0 1-.839-.214l-4.788-2.907-4.778 2.907a1.499 1.499 0 0 1-2.234-1.626l1.264-5.489L2.02 9.974a1.5 1.5 0 0 1 .853-2.63l5.571-.484 2.175-5.19a1.495 1.495 0 0 1 2.758 0l2.18 5.19 5.57.483a1.498 1.498 0 0 1 1.318 1.899 1.5 1.5 0 0 1-.465.732h-.005Z">
                    </path>
                  </svg></span></li>
              <li class="p_e4TX"><span class="_-6pA9j I-8Cxj" aria-hidden="true"><svg fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path
                      d="m21.975 9.974-4.225 3.69 1.266 5.495a1.502 1.502 0 0 1-1.395 1.84 1.499 1.499 0 0 1-.839-.214l-4.788-2.907-4.778 2.907a1.499 1.499 0 0 1-2.234-1.626l1.264-5.489L2.02 9.974a1.5 1.5 0 0 1 .853-2.63l5.571-.484 2.175-5.19a1.495 1.495 0 0 1 2.758 0l2.18 5.19 5.57.483a1.498 1.498 0 0 1 1.318 1.899 1.5 1.5 0 0 1-.465.732h-.005Z">
                    </path>
                  </svg></span></li>
              <li class="p_e4TX"><span class="_-6pA9j I-8Cxj" aria-hidden="true"><svg fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path
                      d="m21.975 9.974-4.225 3.69 1.266 5.495a1.502 1.502 0 0 1-1.395 1.84 1.499 1.499 0 0 1-.839-.214l-4.788-2.907-4.778 2.907a1.499 1.499 0 0 1-2.234-1.626l1.264-5.489L2.02 9.974a1.5 1.5 0 0 1 .853-2.63l5.571-.484 2.175-5.19a1.495 1.495 0 0 1 2.758 0l2.18 5.19 5.57.483a1.498 1.498 0 0 1 1.318 1.899 1.5 1.5 0 0 1-.465.732h-.005Z">
                    </path>
                  </svg></span></li>
              <li class="p_e4TX"><span class="_-6pA9j I-8Cxj" aria-hidden="true"><svg fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path
                      d="m21.975 9.974-4.225 3.69 1.266 5.495a1.502 1.502 0 0 1-1.395 1.84 1.499 1.499 0 0 1-.839-.214l-4.788-2.907-4.778 2.907a1.499 1.499 0 0 1-2.234-1.626l1.264-5.489L2.02 9.974a1.5 1.5 0 0 1 .853-2.63l5.571-.484 2.175-5.19a1.495 1.495 0 0 1 2.758 0l2.18 5.19 5.57.483a1.498 1.498 0 0 1 1.318 1.899 1.5 1.5 0 0 1-.465.732h-.005Z">
                    </path>
                  </svg></span></li>
              <li class="p_e4TX"><span class="_-6pA9j I-8Cxj" aria-hidden="true"><svg fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path
                      d="m21.975 9.974-4.225 3.69 1.266 5.495a1.502 1.502 0 0 1-1.395 1.84 1.499 1.499 0 0 1-.839-.214l-4.788-2.907-4.778 2.907a1.499 1.499 0 0 1-2.234-1.626l1.264-5.489L2.02 9.974a1.5 1.5 0 0 1 .853-2.63l5.571-.484 2.175-5.19a1.495 1.495 0 0 1 2.758 0l2.18 5.19 5.57.483a1.498 1.498 0 0 1 1.318 1.899 1.5 1.5 0 0 1-.465.732h-.005Z">
                    </path>
                  </svg></span></li>
            </ul>
            <h3 class="_-wKMeW font-default-header-m-semibold mb-default-150x">Great way
              to discover Learners</h3>
            <p class="_-wKMeW font-default-body-s-regular mb-default-300x KZncth">
              This platform is a game-changer for anyone looking to find the perfect driving school, whether it's for
              license renewal or starting fresh. The process is simple and efficient, allowing you to submit your
              requirements and preferences with ease.</p>
            <div class="vwrSwV">
              <picture class="rC5xC0 _-rOWN0 X4f3A0 Qs8lH0 LxNbvs">
                <source
                  srcSet=" //www.fresha.com/assets/static/media/ciara@2x-9c570a7952b49e41495b12262cdb5fc6.webp 2x,"
                  media="(min-width: 0px)" type="image/webp" />
                <source srcSet="//www.fresha.com/assets/static/media/ciara-697ea851d6c584cc6ab281e47b94a8e6.webp"
                  media="(min-width: 0px)" type="image/webp" />
                <source srcSet=" //www.fresha.com/assets/static/media/ciara@2x-9bbe2088f491d5b9e8fb2987a09d737e.jpg 2x,"
                  media="(min-width: 0px)" type="" />
                <source srcSet="//www.fresha.com/assets/static/media/ciara-f6ca24a00c6688414065eac730d1fcbe.jpg"
                  media="(min-width: 0px)" type="" /><img
                  src="assets/static/media/ciara-f6ca24a00c6688414065eac730d1fcbe.jpg" alt="Ciara"
                  class="N3bW30 _-rOWN0 X4f3A0 p0zs30 LxNbvs" loading="lazy" />
              </picture>
              <p class="_-wKMeW font-default-body-m-regular dcV-Yv">Ciara</p>
              <p class="_-wKMeW font-default-body-s-regular QbIs-T">Los Angeles, USA
              </p>
            </div>
          </div>
          
          
        </div><button id="button-carousel-reviews-right" data-qa="carousel-reviews-right" type="button"
          class="bXwNAZ _XdYRL tPD9Wd _i2AGd p0rMsd _8oa6Jd _2qQPVd JKAKKd MUDOCF HLLqzF YufAqF" tabindex="-1"
          aria-pressed="false" aria-labelledby="label-carousel-reviews-right" aria-live="polite"><span
            class="G9IyId va3CCd"><span id="label-carousel-reviews-right"
              class="_-wKMeW ZCvkwW font-default-body-m-semibold">Next</span></span><span class="_0f0aId"><span
              class="_-6pA9j _8oa7Bj" aria-hidden="true"><svg fill="currentColor" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24">
                <path fill-rule="evenodd"
                  d="M12.97 4.72a.75.75 0 0 1 1.06 0l6.75 6.75a.75.75 0 0 1 0 1.06l-6.75 6.75a.75.75 0 1 1-1.06-1.06l5.47-5.47H3.75a.75.75 0 0 1 0-1.5h14.69l-5.47-5.47a.75.75 0 0 1 0-1.06Z"
                  clip-rule="evenodd"></path>
              </svg></span></span></button>
      </div>
    </div>
  </div>
</div>